body {
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:hsl(0, 0%, 100%);
    border-radius: 16px;
    margin-top: 150px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    width: 100%;
    max-width: 327px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}

@media (min-width: 1440px) {
    .container {
        max-width: 384px;
        margin-top: 150px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

.learning-box {
    background-color: hsl(47, 88%, 63%);
    border-radius:5px;
    color:black;
    align-self: flex-start;
    /* margin-left:24px; */
    max-width: 200px;
    margin-top: 22px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.learning-box p {
    margin: 5px;
    font-weight:800;
}

.font-family {
    font-family: 'Figtree extra bold', sans-serif;
    font-weight: 800;
}

.gray-text {
    color:hsl(0, 0%, 42%);
    font-weight: 500;
}

.container p {
    margin-bottom: 8px;
}

.container h2 {
    margin-top: 12px;
    margin-bottom: 0px;
}


.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 16px;
}

.user-image {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-image img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.user-image p {
    font-size: 14px;
    margin: 0;
}
.image {
    overflow: hidden;
    border-radius: 10px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}